
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /*vai tirar otods os pontinhos ao lado da escrita (Li)*/
    list-style:none;
    /*vai tirar o sublinhado da pagina*/
    text-decoration: none;
}

:root{
    --degrade-btn: linear-gradient(#5DB881,#8AB49B )
}

/*classes reutilizaveis*/
.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1400px;
    padding: 0 5%;
    margin: 0 auto;
}

.btn-gradiente{
    border: 2px solid #5bbb81;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    background-color:white;
    color: #726f6f;
    
}

/*classes do site*/
nav{
    /*logotipo e a ul vão ficar um ao lado do outro*/
    display: flex;
    /*joga a lista para o outro lado ajudando no espaçamento da nossa ul*/
    justify-content: space-between;
    align-items: center;
}

.ul{
    display: flex;
    align-items: center;
}

.ul li{
    /*espaçamento externpo*/
    margin: 0 20px;
    font: 15px;
}

ul li a{
    color: #726f6f;
}

/*main*/
main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.main-text{
    width: 50px;
    
}

.main-text h1{
    font-size: 3.5rem;
     
}

